# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Django stuff
db.sqlite3
media/
staticfiles/

# OS files
.DS_Store
Thumbs.db

# Text / Local status files (any variation)
*CompletedUserStory*.txt

# Text / Local status files
CompletedUserStoryDetails.txt
apps/users/__pycache__/urls.cpython-312.pyc
apps/users/__pycache__/urls.cpython-312.pyc
